<header class="nav-area" id="navbar">
    <div class=" menu-wrapper ">
        <h2 class="logo"> <a href="#"> Creativo </a> </h2>
        <nav class="navvv">
            <ul class="right-nav" style="margin-bottom:0rem;">
                <li> <a href="/"> Home </a> </li>
                <li> <a href="/secreat"> Secreat </a> </li>
                {{!-- <li> <a href="/products/add"> AddData </a> </li> --}}
                <li> <a href="/register"> Register </a> </li>
                <li> <a href="/login"> Login </a> </li>
                <li> <a href="/logout"> Logout </a> </li>
            </ul>
        </nav>
    </div>
</header>